<div class="container">
  <div class="row">
    <div class="col-6 offset-3 center">
      <div class="image-form">
        <%= form_for @user do |f| %>
          <div class="user_image-box ma-y-50">
            <%= image_tag "no_image.png", size: "280x400" %>
          </div>
          <%= f.file_field :image %>

          <div class="actions ma-t-50">
            <%= f.submit "プロフィール画像を変更する" %>
          </div>
        <% end %>
        <div class="back_link ma-y-30 right">
          <%= link_to "戻る", edit_user_path(@user) %>
        </div>
      </div>
      <div class="image-form-introduction ma-t-50 left">
        <h3 style="color:red">注意</h3>
        <p>
          登録された写真は、お店の方が見ます。<br>
          なるべくアプリのフィルターなどがかかっていないもので、顔がちゃんと分かるものにしてください。
        </p>
      </div>
    </div>
  </div>
</div>