<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="user_box row">
        <div class="col-4">
          <div class="user_image-box">
            <% if @user.image.present? %>
              <%= @user.image %>
            <% end %>
          </div>
        </div>
        <div class="col-8">
          <div class="user_name-box">
            <%= @user.kana_name %><br>
            <span class="font-30"><%= @user.name %></span>
          </div>
          <div class="user_info-box">
            <div class="sex">
              <p>性別：<%= @user.sex_i18n %></p>
            </div>
            <div class="birthday">
              <p>生年月日：<%= @user.birthday.strftime("%Y年%m月%d日") %></p>
            </div>
            <div class="phone_number">
              <p>電話番号：<%= @user.phone_number %></p>
            </div>
            <div class="introduction">
              <p>自己紹介文</p>
              <%= @user.introduction %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"> 
      <div class="user_sidebar-box">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to "プロフィール編集", edit_user_path(@user) %></li>
          <li class="list-group-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li class="list-group-item"><%= link_to "退会する", user_path(@user), method: :delete %></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
          <li class="list-group-item"></li>
        </ul>  
      </div>
    </div>
  </div>
</div>
